.first-box-container {
  width: 200px;
  background-color: red;
  position: absolute;
  margin-top: 10px;
  padding: 50px 0;
  border-width: 10px;
  border-color: green;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;  
  border-style: solid;
}

.second-box-container {
  width: 200px;
  background-color: yellow;
  position: absolute;
  left: 250px;
  margin-top:10px;
  padding: 60px 0;
  border-width: 10px;
  border-color: red;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;  
  border-style: solid;
}

.third-box-container {
  width: 200px;
  background-color: green;
  position: absolute;
  left: 500px;
  margin-top: 10px;
  padding: 60px 0;
  border-width: 10px;
  border-color: yellow;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;  
  border-style: solid;
}

#sininen {
  color: blue;
}
