.tummanpunainen {color: DarkRed;}
#sininen {color: Blue; text-align: center}
.violetti {color: Violet; text-align: center}
.punainen {color:Red;}

#alaotsikko {text-align: center}
#kuva {display: block;
    margin-left: auto;
    margin-right: auto;}
#linkki {display:block;text-align:center}



body {
    margin: 0 auto;
    max-width: 50em;
    font-family: 'Helvetica', 'Arial', sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: #555;
  }

h1 {
  margin-top: 1em;
  padding-top: 1em;
  color: #333;
}


  

  
